*
{
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}
body
{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("../Images/background1.jpg");
    background-size: cover;
    background-position:center;
}

/*Header start*/
.header
{
	text-align: center;
	color: white;
	background-color: black;
}
.menu
{
	height: 100px;
	background-color: rgba(0,0,0,0.2);
	display: grid;
	grid-template-columns: 1fr 6fr 1fr 2fr;
	gap: 10px;
}
.logo img
{
    height: 100px;
    width: 100px;
    border-radius: 40%;
	margin-left: 10px;
}
.menu ul
{
	display:flex;
	flex-direction:coloumn;
	padding-right: 10px;
	list-style: none;
	margin: 10px;
}
.menu ul li
{
	display:inline;
	position: relative;
}
.menu ul li a
{
	font-size:1em;
	font-weight: bold;
	text-decoration:none;
	color:white;
	padding:10px;
	text-transform: uppercase;
}
.menu ul li a:hover
{
	padding-top: 5px;
	background-color:rgba(15, 242, 73, 0.5);
	border-radius: 10px;
}
.nav
{
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}
.search
{
	max-width: 500px;
	height: 30px;
	width: 80%;
	background-color:white;
	display: flex;
	margin: 5px 490px 5px 10px;
	padding: 5px;
	outline: none;
	border: 0px;
	border-radius: 10px;
}
.search input
{
	border: none;
	outline: none;
	width: 90%;
}
.search button
{
	width: 100px;
	height: 30px;
	border-color:white;
	display: block;
	padding: 0;
	margin-top: 0;
	color: black;
}
.profile img
{
    width: 100px;
    height: 100px;
}
.login ul li
{
	margin-top: 20px;
}
.in_menu
{
	display: none;
}
.menu ul li:hover .in_menu
{
	display:block;
	position: absolute;
	top: 100%;
	left: 0px;
	background-color:rgba(15, 242, 73, 0.5);
	border-radius: 0px;
}
.in_menu ul
{
	display:flex;
	flex-direction:row;
}
.in_menu ul li
{
	width: 100px;
	padding: 2px;
	margin: 2px;
}
/*Header end*/


.container {
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: rgba(0,0,0, 0.7);
}
h1 {
  text-align: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.container h1
{
	color: white;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  background-color: white;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

p {
  margin-bottom: 20px;
}

.span
{
	background-color:rgba(15, 242, 73, 0.5);
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 10px;
	transition: 0.5s;
}
.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: gray;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

/* Styles for the buttons */
.btn {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  margin-right: 10px;

}
.saves{
  background-color: silver;
}

.saves:hover{
  background-color: green;
}
label
{
	color: white;
}
.adition h1 a
{
	border: 1px solid black;
	background-color: seagreen;
	border-radius: 10px;
	color: white;
	height: 40px;
	width: 200px;
	padding: 10px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 10px auto;
	gap: 5px;
	text-decoration: none;
}

.Page h1 a
{
	border: 1px solid black;
	background-color: seagreen;
	border-radius: 10px;
	color: white;
	height: 40px;
	width: 250px;
	padding: 10px;
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin: 10px auto;
	gap: 5px;
	text-decoration: none;
}

/*footer*/
.Main-footer
{
	display:flex;
	background-color:rgba(0,0,0,0.2);
	gap:50px;
}
.social div
{
	display:inline;
}
.social div img
{
	margin: 20px;
	padding:20px 0px 20px 0px;
	width: 80px;
	height: 80px;
	border-radius: 50px;
}
footer h4
{
	color: white;
}
/*common footer features*/
button
{
	padding: 15px 15px;
	margin: 30px 20px;
	text-align: center;
	color: white;
	font-weight: bold;
	width: 200px;
	height: 50px;
	border-radius: 25px;
	cursor: pointer;
	border: 1px solid green;
	background: transparent;
	position: relative;
	overflow:hidden;
}